#features{
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2{
    font-family: "Rubik";
    font-size: 3rem;
}

p{
    color: grey;
}

#title {
    background-color: #ffa500;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* navigation bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Rubik';
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size:1.2rem;
    font-family:"Rubik";
}

/* download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title-image */

.title-image{
    transform: rotate(25deg);
    position:absolute;
}

/* feature section */

.feature-h{
    font-weight: bold;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position:relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}


.emoji{
    color: orange;
    margin-bottom: 1rem;
}

.emoji:hover{
    color: #ff5349;
}

/* Testimonial */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: orange;
    color: white;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}

#press{
    background-color: orange;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding : 7% 15%;
}

/* pricing section */

#pricing{
    padding:100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

.dish{
    font-family: "Rubik";
}

.button-order{
    font-family: "Rubik";
}

/* CTA Section */

#cta{
    background-color: orange;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: "Montserrat";
    font-size: 3.5rem;
}

/* footer section */

#footer{
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}



@media (max-width: 1020px){

    #title{
        text-align: center;
    }

    .title-image{
        position:static;
        transform: rotate(0);
    }
}